.main{
    .h2{
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        text-align: left;
        letter-spacing: 2px;
        color: black;
        text-align:center;
        .p{    font-family:'Poppins', sans-serif; 
            font-style: normal;
            font-weight: bold;
            text-align: center;
            line-height: 40px;
            letter-spacing: 5px;
            word-spacing: 7px;
            text-transform: uppercase;
            color: black;
            margin-bottom: 35px;
            margin-top: 35px;
}
}
}